#avaliacao {
    height: 70vh;
    margin: 5vh 0;
    position: relative;

        & .deco_avaliacao {
            position: absolute;
            top: 5%;
            left: 5%;
            z-index: 100;
        }


}

.avaliacao_grid {
    height: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr;

        & .avaliacao_img_side {
            background-image: url(/img/avaliacao/avaliation-img.webp);
            background-position: center;
            background-size: cover;
        }

}

.avaliacao_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #3B4623;
    padding-bottom: 5rem;
    padding: 0 2rem;


}
.avaliacao_text {
    position: relative;
    z-index: 2000;

    & p {
        font-size: 1.875rem;
        line-height: 2.2rem;
        color: #DEDEDE;
        max-width: 470px;
        text-wrap: wrap;
        font-style: italic;
        margin-bottom: 1rem;

        
    }
    & span {
        font-size: 1.875rem;
        line-height: 2.2rem;
        color: #DEDEDE;
        text-wrap: wrap;
        font-style: italic; 
        
    }

        & .top_aspas {
            position: absolute;
            top: -5%;
            left: -5%;
            z-index: -1;
        }
        & .bottom_aspas {
            position: absolute;
            bottom: -5%;
            right: -5%;
            z-index: -1;
        }
}
/* Responsividade */ 

@media (max-width: 920px) {
    #avaliacao {
        height: 60vh;
        margin: 0 0;
    }
    .avaliacao_grid {
        grid-template-columns: 1fr .5fr;
      
    }
    .avaliacao_text {
        position: relative;
        z-index: 2000;
    
        & p {
            font-size: 1.5rem;
            line-height: 1.9rem;
            color: #DEDEDE;
            max-width: 370px;
            text-wrap: wrap;
            font-style: italic;
            margin-bottom: 1rem;
    
            
        }
        & span {
            font-size: 1.5rem;
            line-height: 1.9rem;
            color: #DEDEDE;
            text-wrap: wrap;
            font-style: italic; 
            
        }
        & .top_aspas {
           
            width: 40px;
            height: 32px;
        }
        & .bottom_aspas {
            
            width: 40px;
            height: 32px;
        }
    }
}
@media (max-width: 600px) {
    #avaliacao {
        height: 60vh;
        margin: 0vh 0;
       
    }
}


@media (max-width: 500px) {
    
    .avaliacao_text {
    
        & p {
            font-size: 1rem;
            line-height: 1.4rem;
    
            
        }
        & span {
            font-size: 1rem;
            line-height: 1.4rem;
            
        }
    }
    & .deco_avaliacao {
        width: 32px;
        height: 30px;
    }
}
@media (max-width: 350px) {
    .avaliacao_text {
    
        & p {
            font-size: .875rem;
            line-height: 1rem;
    
            
        }
        & span {
            font-size: .875rem;
            line-height: 1rem;
            
        }
    }
    & .deco_avaliacao {
        width: 32px;
        height: 30px;
    }
}