#ebooks_mobile {
   background-color: #242C12; 
   height: 60vh;
   
   display: none;
   position: relative;

        & .deco_ebooks_mobile {
            position: absolute;
            bottom: 5%;
            left: 3%;
            width: 35px;
            height: 35px;
        }

   & h1 {
        align-self: start;
        font-weight: 900;
        color: #CCC;
        font-family: "Red Hat Display", sans-serif;
        padding: 0 2rem;
        padding-top: 1.5rem;
    }
    & h1::after {
        content: "";
        display: block;
        background: linear-gradient(to right, #525E36, #91AC56);
        margin-bottom: 2rem;
    }
}
.ebooks_mobile_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    height: 100%;
    padding: 0 2rem;
    row-gap: 2rem;
    position: relative;
}

.ebooks_mobile_img {
    max-width: 280px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    object-fit: cover;
    grid-column: 2;
    justify-self: end;

    z-index: 1000;
    border-radius: 5px;
    grid-row: 2 / 4;
    
}

.ebooks_mobile_text {
    font-size: 1rem;
    line-height: 1.2rem;
    color: #F7F7F7;
    grid-column: 1 / 3;
    grid-row: 1;

        & button {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            color: #B3B3B3;
            cursor: pointer;
        }

}
.buttonOpenModal_mobile {
    background-color: #9DA68B;
    padding: .7rem .9rem;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    grid-row: 2;
    grid-column: 1;
    max-width: 175px;
    max-height: 35px;
    color: #000;

    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 600;

}

.read_more_text {
    display: none;
}


@media (max-width: 1100px) {
    #ebooks_mobile {
        display: block;
    }
}
@media(max-width: 600px) {
   
    
    .deco_ebooks_mobile {
        width: 20px;
        height: 20px;

    }
    
}

@media (max-width: 450px) {
    #ebooks_mobile {
        height: 50vh;

    }
     .ebooks_mobile_text {
        font-size: .75rem;
        line-height: .9rem;
        
    
            & button {
                font-size: .75rem;
                
            }
    
    }
    .buttonOpenModal_mobile {
        padding: .438rem .538rem;   
        border-radius: 5px;
        font-size: .625rem;
        max-width: 132px;
       
    
    }

    .ebooks_mobile_img {
        max-width: 177px; 
        max-height: 310px;
     
    }
}

@media (max-width: 380px) {
    .ebooks_mobile_img {
        max-width: 145px; 
        max-height: 208px;
     
    }
}