#ebooks {
    height: 60vh;
    margin: 20vh 0;
    background-color: #242C12;
    position: relative;

    & .deco_servicos {
        position: absolute;
        bottom: 3%;
        left: 5%;
    }
}
.ebooks_grid {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem;
    

        & img { 
            width: 100%;
            max-width: 476px;
            object-fit: cover;
            position: relative;
            top: 0px; 
            height: calc(100% + 120px); 
            border-radius: 10px;
        }
}
.ebooks_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start ;
    flex: 1;

        & h1 {
            align-self: start;
            font-weight: 900;
            color: #CCC;
            font-family: "Red Hat Display", sans-serif;
        }
        & h1::after {
            content: "";
            display: block;
            background: linear-gradient(to right, #525E36, #91AC56);
            margin-bottom: 3rem;
        }
        & p {
            font-size: 1.125rem;
            line-height: 1.375rem;
            color: #F7F7F7;
            max-width: 540px;
            text-wrap: wrap;
            align-self: start;
            
        }
        & button {
            padding: .7rem 1.5rem;
            background-color: #9DA68B;
            font-size: 1.125rem;
            font-weight: 600;
            color: #0B0E05;
            text-transform: uppercase;
            align-self: start;
            border-radius: 10px;
            border: transparent;
            margin-top: 5rem;
            cursor: pointer;

        } 
}

@media (max-width: 1400px) {
    .deco_servicos {
        display: none;
    }
}

@media (max-width: 1100px) {
    #ebooks {
        display: none;
    }
}