footer {
    margin-top: 20vh;    
    height: 40vh;
    background-color: #242C12;
}

.footer_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    height: 100%;
    padding: 2rem 1rem;
    padding-bottom: 0;

        & img {
            align-self: start;
        }
}
.footer_contato {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-self: start;
    justify-self: center;

    & h2 {
        font-size: 2.25rem;
        font-weight: 600;
        color: #DEDEDE;
    }
    & p,
    .footer_local {
        font-size: 1.125rem;
        color: #DEDEDE;
    }

    .social_footer {
        display: flex;
        column-gap: 1.5rem;
        
    }

}

.footer_informations {
    align-self: self-start;
    justify-self: flex-end;
        & h2 {
            font-size: 2.25rem;
            font-weight: 600;
            color: #DEDEDE;
            margin-bottom: 2rem;
        }
        & p {
            font-size: 1.125rem;
            color: #DEDEDE;
        }
}

/* Reponsividade */

@media (max-width: 800px) {
    footer {
        height: 35vh;
        margin: 0;
       
    }
   
    .footer_contato {
        row-gap: 1.5rem;

        & h2 {
            font-size: 1.7rem;
         
        }
        & p,
        .footer_local {
            font-size: 1rem;
            text-wrap: wrap;
           
        }
    
        
    }
    .logo_footer {
        width: 70px;
        height: 76px;
    }

    .footer_informations {
        justify-self: flex-end;
            & h2 {
                font-size: 1.7rem;
        
            }
            & p {
                font-size: 1rem;
               
            }
    }
    

}
@media (max-width: 576px) {
    footer {
        height: 35vh;
       
    }
    .footer_contato {
        row-gap: 1.5rem;

            & h2 {
                font-size: 1rem;
            
            }
            & p,
            .footer_local {
                font-size: .825rem;
            
            }
       
 
    }
    .footer_grid {
        grid-template-columns: auto 1fr 1fr;
        column-gap: 1rem;
    }
    .logo_footer {
        width: 35px;
        height: 38px;
    }

    .footer_informations {
        
            & h2 {
                font-size: 1rem;
        
            }
            & p {
                font-size: .825rem;
               
            }
    }
    
    .social_footer {

        & img {
            width: 20px;
            height: 20px;
        }
    }
    

}
@media (max-width: 350px) {
    .footer_grid {
     
        column-gap: 1rem;
    }
    .logo_footer {
        width: 25px;
        height: 28px;
    }
    .footer_contato {
        row-gap: 1rem;
            & h2 {
                font-size: .8rem;
            
            }
            & p,
            .footer_local {
                font-size: .625rem;
            
            }
    }

    .footer_informations {
        
        & h2 {
            font-size: .8rem;
    
        }
        & p {
            font-size: .625rem;
           
        }
}
}