#galeria {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 2rem;

        & h1 {
            font-weight: 900;
            color:  #3B4623;
            font-family: "Red Hat Display";
            align-self: start;
            align-self: flex-start;
        }
        & h1::after {
            content: "";
            display: block;
            background: linear-gradient(to right, #525E36, #91AC56);
            margin-bottom: 3rem;
        }

        & .deco_galeria_top {
          position: absolute;
          top: 0;
          left: -5%;
        }
        & .deco_galeria_bottom {
          position: absolute;
          bottom: 5%;
          right: -5%;
        }
}
.galeria_grid {
    display: grid;
    justify-content: space-between;
    height: 364px;
    grid-template-columns: repeat(3, calc((100% / 3) - 20px));

        & .galeria_card {
            width: 100%;
            height: 364px;
            object-fit: cover;
            border-radius: 10px;
        }
}

.button_show_more {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 2rem;
  align-self: end;
  cursor: pointer;

    & p {
      font-size: 2rem;
      line-height: 2.2rem;
      font-weight: 700;
      color: #3B4623;
      text-decoration: underline;
      cursor: pointer;
    }
}

@media (max-width: 1330px) {
  .deco_galeria_top {
    display: none;
  }
  .deco_galeria_bottom {
    display: none;
  }
}
@media (max-width: 1000px) {
  .galeria_grid {
    height: 250px;
    grid-template-columns: repeat(2, calc((100% / 2) - 10px));

        & .galeria_card {

            height: 250px; 
        }
  }
  #remove {
    display: none;
  }


}
@media (max-width: 600px) {
  
  .galeria_grid {
    height: 177px;
    grid-template-columns: repeat(2, calc((100% / 2) - 10px));

        & .galeria_card {

            height: 177px; 
        }
  }
  #remove {
    display: none;
  }

  .button_show_more {
  
      & p {
        font-size: 1.5rem;
        line-height: 1.7rem;
      }

      & img {
        width: 30px;
        height: 25px;
      }
  }
  .deco_galeria_top,
  .deco_galeria_bottom {
    display: none;
  }
}
@media (max-width: 520px) {
  #galeria {
    height: 50vh;
  }
}


@media (max-width: 400px) {
  .galeria_grid {
    height: 127px;
    grid-template-columns: repeat(2, calc((100% / 2) - 10px));

        & .galeria_card {

            height: 127px; 
        }
  }
  
}