#home {
    margin-top: 15vh;
}
.side-a-side_grid {
    width: 100%;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.left_side {
    background-image: url(/img/home/homeImg.webp);
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

        & img {
            z-index: 2000;
        }
}
.right_side {
    background-color: #3B4623;
    height: inherit;
    display: flex;
    align-items: center;
    padding-left: 5rem;
    position: relative;
    padding: 0 2rem;
        & .deco-home {
            position: absolute;
            top: 10%;
            right: 10%;
        }
        
}

.right_side-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
        & p {
            color: white;
            max-width: 520px;
            font-size: 1.875rem;
            line-height: 2rem;
            margin: 6rem 0;
        }
}
.home_contact_button {
    background-color: #9DA68B;
    padding: .7rem 1.5rem;
    border-radius: 10px;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.125rem;
    line-height: 1.325rem;
    color: #0B0E05;
    font-weight: 600;
}


/* Responsividade */

@media (max-width: 820px) {
    .side-a-side_grid {
      grid-template-columns: .5fr 1fr;  
    }
    .left_side img {
        width: 210px;
        height: 256px;
    }
    .right_side-content p {
            max-width: 400px;
            font-size: 1.5rem;
            line-height: 1.7rem;
            
    }
}

@media (max-width: 500px) {
    .side-a-side_grid {
        height: 50vh;  
      }
    #home {
        margin-top: 5vh;
    }
    .left_side img {
        width: 105px;
        height: 128px;
    }
    .right_side-content  {

        & p {
            color: white;
            max-width: 200px;
            font-size: 1rem;
            line-height: 1.225rem; 
        }
        & img {
            display: none;
        } 
    }
    .home_contact_button {  
        padding: .438rem .538rem;  
        font-size: .625rem;
        border-radius: 5px;  
    }

    .right_side {
        padding-left: 2.5rem;
    }
    .deco-home {
        width: 40px;
        height: 42px;
    }
}

@media (max-width: 370px) {
    .right_side-content  {

        & p {
            color: white;
            max-width: 180px;
            font-size: 1rem;
            line-height: 1.225rem; 
            margin: 3rem 0;
        }
        & img {
            display: none;
        } 
    }
    

    .right_side {
        padding-left: 1rem;
    }

    .deco-home {
        width: 30px;
        height: 32px;
        top: 0;
        right: 0;
    }
}