#modal_contato {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(106, 119, 78, 0.6);
}
.mensagem {
        background-color: rgba(106, 119, 78, 0.9);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        padding: 3rem;
        width: 784px;
        height: 395px;
        position: relative;
    
            & p {
                font-size: 1.875rem;
                line-height: 2.25rem;
                font-weight: 600;
                color: #FFFFFF;
                text-align: center;
            }
    
            & button {
                background-color: #9DA68B;
                padding: .7rem 1.5rem;
                border: none;
                border-radius: 10px;
                position: absolute;
                bottom: 10%;
                left: 10%;
                cursor: pointer;
    
                
                font-size: 1.125rem;
                font-weight: 600;
                color: #0B0E05;
                text-transform: uppercase;
    
            }
    
}

#modal_contato.active_animation{
    display: flex;
    animation: modalAnimatiom .4s forwards;
}

@keyframes modalAnimatiom {
    from {
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
    
}

@media (max-width: 700px) {
  
    .mensagem {
        width: 450px;
        height: 395px;
    
            & p {
                font-size: 1.5rem;
                line-height: 2.5rem;
            }
    
            & button {
                padding: .8rem 1.5rem;
                font-size: 1rem;
               
            }
    }
}

@media (max-width: 500px) {

    
    .mensagem {
        width: 330px;
        height: 250px;
    
            & p {
                font-size: 1rem;
                line-height: 1.5rem;
            }
    
            & button {
                border-radius: 5px;
                padding: .6rem .9rem;
                font-size: .65rem;
               
            }
}
}
@media (max-width: 350px) {
    
    .mensagem {
        width: 300px;
       
    }
}