#servicos {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;

        & .deco_home-top {
            position: absolute;
            top: 12%;
            right: 2.5%;
        }
        & .deco_home-bottom {
            position: absolute;
            bottom: 12%;
            left: 2.5%;
        }
}
.servicos {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
         & h1 {
            font-weight: 900;
            color:  #525E36;
            font-family: "Red Hat Display"
         } 
         & h1::after {
            content: "";
            display: block;
            background: linear-gradient(to right, #525E36, #91AC56);
            margin-bottom: 3rem;
        }
}

.servicos_grid {
    display: grid;
    grid-template-columns: 560px 560px;
    width: 100%;
    justify-content: space-between;

}

.servicos_card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

        & img {
            height: 100%;
            max-height: 400px;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
        & p {
            font-size: 1.875rem;
            font-weight: 500;
            color: #242C12;
        }
}

@media (max-width: 1300px) {
    & .deco_home-top {
        display: none;
    }
    & .deco_home-bottom {
        display: none;
    }
}

@media (max-width: 1200px) {
    #servicos {
        display: none;
    }
}
