#servicos_mobile {
    height: 85vh; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden; 

    & h1 {
        font-weight: 900;
        color: #525E36;
        font-family: "Red Hat Display";
        padding: 0 2rem;
    }

    & h1::after {
        content: "";
        display: block;
        background: linear-gradient(to right, #525E36, #91AC56);
        margin-bottom: 3rem;
    }
}

#servicos_mobile .carrossel_servicos {
    width: 100%;
    max-height: 502px;
    height: 100%;
    position: relative;
    overflow: hidden; 

    .swiper-wrapper {
        display: flex; 
    }

    .swiper-slide {
        width: 100%; 
    }

    .servicos_mobile_card {
        width: 100%;
        height: 100%; 
        max-height: 440px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & p {
            font-size: 1.5rem;
            font-weight: 600;
            color: #000;
            margin-top: 1rem;
            padding: 0 2rem;
        }
    }
}

.swiper-button-next-servicos,
.swiper-button-prev-servicos {
    position: absolute;
    z-index: 1000;
    top: 45%;
    transform: translateY(-50%); 

    & img {
        object-fit: cover;
        width: 20px;
        height: 32px;
    }
}

.swiper-button-next-servicos {
    right: 5%;
    transform: translate(45%, -50%); 
}

.swiper-button-prev-servicos {
    left: 3%;
    transform: translate(-45%, -50%); 
}

.swiper-button-next-servicos::after,
.swiper-button-prev-servicos::after {
    font-size: 20px; 
}

/* Responsividade */
@media (max-width: 1200px) {
    #servicos_mobile {
        display: flex;
    }
}

@media (max-width: 600px) {

    .swiper-button-prev-servicos {
        left: 5%;
    }

    #servicos_mobile .carrossel_servicos {
        max-height: 402px;
    }

    .servicos_mobile_card {
        max-height: auto; 

        & img {
            max-height: 340px; 
        }

        & p {
            font-size: 1.25rem;
        }
    }
}

@media (max-width: 520px) {
    #servicos_mobile {
        height: 70vh;
    }
}

@media (max-width: 400px) {

    #servicos_mobile .carrossel_servicos {
        max-height: 302px;
    }

    .servicos_mobile_card {
        height: auto; 

        & img {
            max-height: 240px; 
        }

        & p {
            font-size: 1rem;
        }
    }
}
