
/*Imports de arquivo css*/

@import url(./header.css);
@import url(./slider.css);
@import url(./home.css);
@import url(./servicos.css);
@import url(./ebooks.css);
@import url(./valores.css);
@import url(./avaliacao.css);
@import url(./galeria.css);
@import url(./contato.css);
@import url(./footer.css);
@import url(./modal.css);
@import url(./servicos-mobile.css);
@import url(./modal-contato.css);
@import url(./ebooks_mobile.css);

/*Imports de Fonte*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,900;1,900&display=swap');

/*Formatações básicas do site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
body {
    overflow-x: hidden;
}

/*Padronização do h1*/

.section_title {
    font-size: 3rem;
    line-height: 3.5rem;
}
.section_title::after {
    width: 120px;
    height: 4px;  
}

@media(max-width: 800px) {
    .section_title {
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .section_title::after {
        width: 100px;
        
    }
    
}

@media(max-width: 450px) {
    .section_title {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .section_title::after {
        width: 80px;
        
    }
}


/*CSS da animação do scroll*/

[data-anima="scroll"] {
    opacity: 0;
    transition: .4s;
    transform: translate3d(-30px, 0, 0);
}

[data-anima="scroll"].active_animation_scroll {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}