#valores {
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden; 

    h1 {
        font-weight: 900;
        color: #3B4623;
        font-family: "Red Hat Display";
        align-self: start;
    }
    h1::after {
        content: "";
        display: block;
        background: linear-gradient(to right, #525E36, #91AC56);
        margin-bottom: 3rem;
    }
}

.valores_deco {
    position: absolute;
    top: 12%;
    left: -22%;
    z-index: 400;
}

#valores .carrossel_valores {
    width: 100%;
    height: 529px;
    overflow: hidden; 
}

#valores .swiper-slide {
    width: 100%; 
    max-width: 360px; 
    height: inherit;

    img {
        width: 100%;
        max-width: 360px;
        height: 100%;
        object-fit: cover;
        position: relative;
        border-radius: 10px;
    }
}

.overlay_card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; 
    max-width: 360px; 
    height: 40%;
    background-color: #242C12;
    border-radius: 0 0 10px 10px;
    padding: 2rem;

    h2 {
        font-size: 2rem;
        line-height: 2.5rem;
        font-weight: 900;
        color: #FFF;
        font-family: "Red Hat Display", sans-serif;
        text-align: center;
    }
    p {
        font-size: 1.125rem;
        line-height: 1.325rem;
        color: #EDEDED;
        text-align: center;
        margin: 1rem 0;
    }
}

/* Responsividade */


@media (max-width: 900px) {
    #valores {
        height: 85vh;
       
    }
    #valores .carrossel_valores {
        height: 320px;
        
    }
    
    #valores .swiper-slide {
        max-width: 600px; 
 
        img {

            max-width: 600px;      
        }
    }

    .overlay_card-text {
      
        top: 0;
        left: auto;
        right: 0; 
        width: 60%; 
        height: 100%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0 10px 10px 0;
    
        h2 {
            font-size: 1.5rem;
            line-height: 2rem;
            margin-bottom: 2rem;
           
            
        }
        p {
            font-size: 1rem;
            line-height: 1.2rem;
            margin: 0;
        }
    }


}
@media (max-width: 520px) {
    #valores {
        height: 55vh;
       
    }
    #valores .carrossel_valores {
        height: 160px;
        
    }
    
    #valores .swiper-slide {
       
        max-width: 100%; 
 
        img {

            max-width: 100%;      
        }
    }

    .overlay_card-text {
        h2 {
            font-size: 1rem;
            line-height: 1.2rem;
            margin-bottom: 2rem;
           
            
        }
        p {
            font-size: .65rem;
            line-height: .85rem;
            margin: 0;
        }
    }
    
}
